@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: rgb(4,168,198);
    background: linear-gradient(80deg, rgba(4,168,198,1) 0%, rgba(0,118,241,1) 100%);
}
.main{
    background-color: blueviolet;
    border-radius: 10px;
    

}