
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
*{
    box-sizing: content-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: #5CDB95!important;
}
.main{
    background-color: #05386B;
    border-radius: 10px;
    width: 70%;
    height: 70%;
    overflow: scroll;
}
.btn{
    margin: 10px;

}
p{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-weight: bold;
}