@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
    box-sizing: content-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: rgb(255,255,255);
    background: linear-gradient(80deg, rgba(255,255,255,1) 0%, rgba(132,223,244,1) 100%);
}
.main{
    background-color: firebrick;
    border-radius: 10px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin: 10px;
}